/* Generic */

body {
	color: #909090!important;
	font-family: 'Open Sans', sans-serif;
}

h5, blockquote .bold-quote {
	font-size: 1.3em!important;
}

.aui a {
	color: #009245;
}

/* Footer */
.aui #footer {
	text-align: left;
}

@media (min-width: 1200px) {
	.aui .row {
		margin-left: 0;
	}
}

#footer .logo {
 	max-height: initial!important;
}

#footer ul.payment-icon li{
	display: inline-block;
	height: 40px;
	padding: 0 10px 0 0;
}
#footer ul.work-icon li{
	display: inline-block;
	height: 45px;
	padding: 0px;
}
#footer  .minilogos{
	background-image: url('/anyplast-theme/images/icons/minilogos.png');
	height: 40px;
}
#footer  .cardVisa{ background-position: 0px 0px; }
#footer  .cardMasterCard{ background-position: -52px 0px; }
#footer  .cardAmericanExpress{ background-position: -102px 0px; }
#footer  .cardEuro6000{ background-position: -155px 0px; }

#footer  .workEnvialia{ background-position: 0px -40px; }
#footer  .workTDN{ background-position: -95px -40px; }
#footer  .workBSabadell{ background-position: -48px -40px; }

/* Header */

.aui .navbar .nav>li>a {
	color: #FFF;
	text-shadow: none;
}

.aui .navbar .nav li.dropdown>.dropdown-toggle .caret {
	border-top-color: #555;
	border-bottom-color: #555;
}

.aui #wrapper {
	padding: 0;
}

h5, h6 {
	font-family: 'Montserrat', sans-serif!important;
	font-size: 1.1em!important;
}

.sep-top-xs {
	padding-top: 1.5em!important;
}

.navbar .dropdown-menu > li > a {
	position: inherit!important;
}

/* Forms */

#filters .btn-light, .btn-light {
	color: #222222!important;
}
.btn-lg {
	padding: 12px 30px!important;
}
.btn {
	border-radius: 40px!important;
}
.btn-lg {
	font-size: 18px!important;
}
.btn-primary {
  background-color: #009245!important;
  background-image: none!important;
  text-shadow: none!important;
}
.btn-light.btn-bordered {
  color: #ffffff!important;
  background-color: transparent!important;
  border-color: #ffffff;
  background-image: none;
  text-shadow: none;
  border: 2px solid;
}

.panel-group .panel, .panel {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)!important;
  border: 1px solid #ddd!important;
  border-radius: 5px!important;
}

/* Tables */
tr.ad_venda{ background-color: #e9ffff; }
tr.ad_compra{ background-color: #e9ffe9; }
tr.noValidat{ background-color: #ffd0d0 !important; }
tr.noPublicat{ background-color: #ffffd0 !important; }

tr.opAsampleConfirm, tr.opAcertificationConfirm{
	background-color: #ffffd0 !important;
}
td.opVendiendo{ color: #222222 !important; font-weight: bold; }
td.opComprando{ color: #49780D !important; font-weight: bold; }
td.opCertificando{ color: #0066B3 !important; font-weight: bold; }

td.opMuestra{ color: #999999 !important; font-weight: bold; }
td.opPrueba{ color: #a2d165 !important; font-weight: bold; }
td.opCompra{ color: #009245 !important; font-weight: bold; }
td.opContacto{ color: #FFAC31 !important; font-weight: bold; }


/* Slider */

.demo-2 .sl-slider h2, .demo-2 .sl-slider blockquote {
	line-height: 1.3;
}

.demo-2 .sl-slider blockquote {
	width: 90%;
}

.sl-slide blockquote ol,  .sl-slide blockquote ul {
  list-style: none;
}

.sl-slide blockquote ol li,  .sl-slide blockquote ul li {
  font-size: 1.3em;
  padding: 3px 0;
}

/* Custom search (header) */

#main-navigation .container .h_search_form_wrapper input {
	background-color: transparent;
	border: none;
	box-shadow: none;
	height: 34px;
	padding: 6px 12px;
}

.aui #main-navigation .container .h_search_form_wrapper .btn {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top: 0;
}

.aui #main-navigation .container .h_search_form_wrapper .btn:hover, 
.aui #main-navigation .container .h_search_form_wrapper .btn:focus, 
.aui #main-navigation .container .h_search_form_wrapper .btn:active, 
.aui #main-navigation .container .h_search_form_wrapper .btn.active, 
.aui #main-navigation .container .h_search_form_wrapper .btn.disabled, 
.aui #main-navigation .container .h_search_form_wrapper .btn[disabled] {
    color: #000;
    background-color: transparent;
}

/* Dockbar */

.portlet-static-end.portlet-dockbar .container .collapse {
	display: inline;
}

.portlet-static-end.portlet-dockbar .container .nav-account-controls {
	top: 71px;
	right: 110px!important;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls {
	top: 20%!important;
}

.portlet-static-end.portlet-dockbar .nav-account-controls .dropdown-menu > li > a {
	border-bottom: none!important;
}

.aui .dockbar .navbar-inner .nav>li, .aui .dockbar-split .dockbar .navbar-inner .nav>li {
  background-color: #009245;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#009245),color-stop(47%,#33a86a),color-stop(100%,#61c46d));
  background-image: -webkit-linear-gradient(#009245 0,#33a86a 47%,#61c46d 100%);
  background-image: -moz-linear-gradient(#009245 0,#33a86a 47%,#61c46d 100%);
  background-image: -o-linear-gradient(#009245 0,#33a86a 47%,#61c46d 100%);
  background-image: linear-gradient(#009245 0,#33a86a 47%,#61c46d 100%);
}
.aui .dockbar .nav li.dropdown .dropdown-menu>li>a:hover, .aui .dockbar .nav li.dropdown .site-administration-menu>li>a:hover{
  background-color: #33a86a;
}

.aui .dockbar .nav li.dropdown .dropdown-menu, .aui .dockbar .nav li.dropdown .site-administration-menu {
  background: #009245 !important;
}

.dockbar-user-notifications .dropdown-toggle .user-notifications-count {
  background-color: #009245;
  border: 1px solid #61c46d;
}

/* Custom login styles */

#main-navigation .dropdown-menu.widget-box header {
	display: none;
}

#main-navigation .dropdown-menu.widget-box .portlet-content {
	padding: 0;
	border: 0;
}

#main-navigation .portlet-static-end.portlet-login input {
	height: 46px;
	padding: 10px 16px;
	font-size: 0.9em;
	border-radius: 0;
}

#main-navigation .portlet-static-end.portlet-login input[type="text"], 
#main-navigation .portlet-static-end.portlet-login input[type="password"] {
	width: 100%;
}

.aui #main-navigation .portlet-static-end.portlet-login .form-inline .radio input[type="radio"], 
.aui #main-navigation .portlet-static-end.portlet-login .form-inline .checkbox input[type="checkbox"] {
	height: auto;
}

.aui #main-navigation .portlet-static-end.portlet-login .form-inline.form-group > div {
	float: left;
}

.aui #main-navigation .portlet-static-end.portlet-login .form-inline.form-group .button-holder {
	margin: 0;
}

/* Forms */
fieldset .panel-heading h4{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 1.6em;
	padding-bottom: 0.5em;
}
					
.form-control {
	width: 100%!important;
	/* height: 34px!important; */
} 

input.form-control, select.form-control {
	height: 34px!important;
}

.aui .table thead th {
	background-color: transparent;
	font-weight: bold;
	color: #909090;
}

.aui input[type="submit"] {
  margin: 0!important;
}

.aui .table td {
	background-color: transparent;
	color: #909090;
}

form .register-button .button-holder button {
	padding: 10px 40px;
	border: 2px solid;
}

/* Detail styles */
ul#tabs.nav-tabs li>a {
	padding: 10px 32px !important;
	background-color: #ffffff;
	color: #909090;
	border: 2px solid;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px !important;
	margin: 0 15px 10px 15px;
}
ul#tabs.nav-tabs li.active>a {
	background-color: #009245 !important;
	color: #fff !important;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;
}

.aui .dl-horizontal dt {
	text-align: left;
}

.aui dl.preuDetall dd {
	color: #009245;
	font-weight: bold;
	font-size: 120%;
}

/* Accordion */

.accordion-group .accordion-item .accordion-heading {
	overflow: visible!important;
}

/* Info styles */

.icon-box.icon-xs.sep-top-xs.icon-gradient {
	padding-top: 1.5em!important;
	display: block!important;
}

.icon-box.icon-xs .icon-box-content {
	margin: 0 0 0 65px;
	display: block!important;
}

.chart span {
	top: 78%!important;
}

.chart b {
	font-family: 'Open Sans', sans-serif;
}

/* Web form portlet */

.web-form-portlet .field {
	background-color: #e9e9e9!important;
	border-color: #e9e9e9!important;
	color: #333!important;
	height: 46px!important;
	padding: 10px 16px!important;
	width: 100%!important;
}

.web-form-portlet .field.lfr-textarea-container {
	height: 115px!important;
}

.web-form-portlet label.control-label {
  font-weight: bold;
  text-transform: uppercase;
}

/* Controls Liferay */
li.site-add-controls, 
li.page-preview-controls, 
li.page-edit-controls, 
li.toggle-controls {
	background: none !important;
}
li.site-add-controls>a, 
li.page-preview-controls>a, 
li.page-edit-controls>a, 
li.toggle-controls>a {
	background: #333 !important;

}
