/* Generic */

body {
	color: #000 !important;
	font-family: 'Open Sans', sans-serif;
}

h5, blockquote .bold-quote {
	font-size: 1.3em!important;
}

.aui a {
	color: #009245;
}

/* Footer */
.aui #footer {
	text-align: left;
}

@media (min-width: 1200px) {
	.aui .row {
		margin-left: 0;
	}
}

#footer .logo {
 	max-height: initial!important;
}

#footer ul.payment-icon li{
	display: inline-block;
	height: 40px;
	padding: 0 10px 0 0;
}
#footer ul.work-icon {
	margin-top: -0.5em;
}
#footer ul.work-icon li{
	display: inline-block;
	height: 45px;
	padding: 0px;
}
#footer  .minilogos{
	background-image: url('/anyplast-theme/images/icons/minilogos.png');
	height: 40px;
}
#footer  .cardVisa{ background-position: 0px 0px; }
#footer  .cardMasterCard{ background-position: -52px 0px; }
#footer  .cardAmericanExpress{ background-position: -102px 0px; }
#footer  .cardEuro6000{ background-position: -155px 0px; }

#footer  .workEnvialia{ background-position: 0px -40px; }
#footer  .workTDN{ background-position: -95px -40px; }
#footer  .workBSabadell{ background-position: -48px -40px; }

/* Header */

.aui .navbar .nav>li>a {
	color: #FFF;
	text-shadow: none;
}

.aui .navbar .nav > li.selected a {
    background: rgba(80,185,108,0.2);
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.aui .navbar .nav>li.open>a {
    color: #009245;
    border-top: 0;
}

.aui .navbar .nav li.dropdown>.dropdown-toggle .caret {
	border-top-color: #555;
	border-bottom-color: #555;
}

.aui #wrapper {
	padding: 0;
}

h5, h6 {
	font-family: 'Montserrat', sans-serif!important;
	font-size: 1.1em!important;
}

.sep-top-xs {
	padding-top: 1.5em!important;
}

.navbar .dropdown-menu > li > a {
	position: inherit!important;
}

/* Forms */

#filters .btn-light, .btn-light {
	color: #222222!important;
}
.btn-lg {
	padding: 12px 30px!important;
}
.btn {
	border-radius: 40px!important;
}
.btn-lg {
	font-size: 18px!important;
}
.btn-primary {
  background-color: #009245!important;
  background-image: none!important;
  text-shadow: none!important;
}
.btn-light.btn-bordered {
  color: #ffffff!important;
  background-color: transparent!important;
  border-color: #ffffff;
  background-image: none;
  text-shadow: none;
  border: 2px solid;
}

.panel-group .panel, .panel {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)!important;
  border: 1px solid #ddd!important;
  border-radius: 5px!important;
}

/* Tables */
tr.ad_venda{ background-color: #e9ffff; }
tr.ad_compra{ background-color: #e9ffe9; }
tr.noValidat{ background-color: #ffd0d0 !important; }
tr.noPublicat{ background-color: #ffffd0 !important; }

tr.opAsampleConfirm, tr.opAcertificationConfirm{
	background-color: #ffffd0 !important;
}
td.opVendiendo{ color: #222222 !important; font-weight: bold; }
td.opComprando{ color: #49780D !important; font-weight: bold; }
td.opCertificando{ color: #0066B3 !important; font-weight: bold; }

td.opMuestra{ color: #999999 !important; font-weight: bold; }
td.opPrueba{ color: #a2d165 !important; font-weight: bold; }
td.opCompra{ color: #009245 !important; font-weight: bold; }
td.opContacto{ color: #FFAC31 !important; font-weight: bold; }

.vermell{
	color: #ff0000 !important;
}


/* Slider */

.demo-2 .sl-slider h2, .demo-2 .sl-slider blockquote {
	line-height: 1.3;
}

.demo-2 .sl-slider blockquote {
	width: 90%;
}

.sl-slide blockquote ol,  .sl-slide blockquote ul {
  list-style: none;
}

.sl-slide blockquote ol li,  .sl-slide blockquote ul li {
  font-size: 1.3em;
  padding: 3px 0;
}

/* Custom search (header) */

#main-navigation .container .h_search_form_wrapper input {
	background-color: transparent;
	border: none;
	box-shadow: none;
	height: 34px;
	padding: 6px 12px;
}

.aui #main-navigation .container .h_search_form_wrapper .btn {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top: 0;
}

.aui #main-navigation .container .h_search_form_wrapper .btn:hover, 
.aui #main-navigation .container .h_search_form_wrapper .btn:focus, 
.aui #main-navigation .container .h_search_form_wrapper .btn:active, 
.aui #main-navigation .container .h_search_form_wrapper .btn.active, 
.aui #main-navigation .container .h_search_form_wrapper .btn.disabled, 
.aui #main-navigation .container .h_search_form_wrapper .btn[disabled] {
    color: #000;
    background-color: transparent;
}

/* Dockbar */

.portlet-static-end.portlet-dockbar .container .collapse {
	display: inline;
}

.portlet-static-end.portlet-dockbar .container .nav-account-controls {
	top: 71px;
	right: 110px!important;
}

.aui .dockbar-split .dockbar .navbar-inner .nav-add-controls {
	top: 20%!important;
}

.portlet-static-end.portlet-dockbar .nav-account-controls .dropdown-menu > li > a {
	border-bottom: none!important;
}

.aui .dockbar .navbar-inner .nav>li, .aui .dockbar-split .dockbar .navbar-inner .nav>li {
  background-color: #009245;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#009245),color-stop(47%,#33a86a),color-stop(100%,#61c46d));
  background-image: -webkit-linear-gradient(#009245 0,#33a86a 47%,#61c46d 100%);
  background-image: -moz-linear-gradient(#009245 0,#33a86a 47%,#61c46d 100%);
  background-image: -o-linear-gradient(#009245 0,#33a86a 47%,#61c46d 100%);
  background-image: linear-gradient(#009245 0,#33a86a 47%,#61c46d 100%);
}
.aui .dockbar .nav li.dropdown .dropdown-menu>li>a:hover, .aui .dockbar .nav li.dropdown .site-administration-menu>li>a:hover{
  background-color: #33a86a;
}

.aui .dockbar .nav li.dropdown .dropdown-menu, .aui .dockbar .nav li.dropdown .site-administration-menu {
  background: #009245 !important;
}

.dockbar-user-notifications .dropdown-toggle .user-notifications-count {
  background-color: #009245;
  border: 1px solid #61c46d;
}
.dockbar-user-notifications .user-notifications-list .user-notifications div.body,
.notifications-portlet .user-notifications-list .user-notifications div.body {
    font-size: 95%;
    color: #666;
}

/* Custom login styles */

#main-navigation .dropdown-menu.widget-box header {
	display: none;
}

#main-navigation .dropdown-menu.widget-box .portlet-content {
	padding: 0;
	border: 0;
}

#main-navigation .portlet-static-end.portlet-login input {
	height: 46px;
	padding: 10px 16px;
	font-size: 0.9em;
	border-radius: 0;
}

#main-navigation .portlet-static-end.portlet-login input[type="text"], 
#main-navigation .portlet-static-end.portlet-login input[type="password"] {
	width: 100%;
}

.aui #main-navigation .portlet-static-end.portlet-login .form-inline .radio input[type="radio"], 
.aui #main-navigation .portlet-static-end.portlet-login .form-inline .checkbox input[type="checkbox"] {
	height: auto;
}

.aui #main-navigation .portlet-static-end.portlet-login .form-inline.form-group > div {
	float: left;
}

.aui #main-navigation .portlet-static-end.portlet-login .form-inline.form-group .button-holder {
	margin: 0;
}

/* Forms */
fieldset .panel-heading h4{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 1.4em;
	margin: 0;
}
					
.form-control {
	width: 100%!important;
	/* height: 34px!important; */
} 

input.form-control, select.form-control {
	height: 34px!important;
}

.aui .table thead th {
	background-color: transparent;
	font-weight: bold;
	color: #909090;
}

.aui input[type="submit"] {
  /* margin: 0!important; */
}

.aui .table td {
	background-color: transparent;
	color: #909090;
}

form .register-button .button-holder button {
	padding: 10px 40px;
	border: 2px solid;
}

.ap-taula-rols input[type="radio"] {
    height: 20px;
    width: 20px;
}

/* Detail styles */
ul#tabs.nav-tabs li>a {
	padding: 10px 32px !important;
	background-color: #ffffff;
	color: #909090;
	border: 2px solid;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px !important;
	margin: 0 15px 10px 15px;
}
ul#tabs.nav-tabs li.active>a {
	background-color: #009245 !important;
	color: #fff !important;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;
}

.aui .dl-horizontal dt {
	text-align: left;
}

.aui dl.preuDetall dd {
	color: #009245;
	font-weight: bold;
	font-size: 120%;
}

/* Accordion */

.accordion-group .accordion-item .accordion-heading {
	overflow: visible!important;
}

/* Info styles */

.icon-box.icon-xs.sep-top-xs.icon-gradient {
	padding-top: 1.5em!important;
	display: block!important;
}

.icon-box.icon-xs .icon-box-content {
	margin: 0 0 0 65px;
	display: block!important;
}

.chart span {
	top: 78%!important;
}

.chart b {
	font-family: 'Open Sans', sans-serif;
}

/* Web form portlet */

.web-form-portlet .field {
	background-color: #e9e9e9!important;
	border-color: #e9e9e9!important;
	color: #333!important;
	height: 46px!important;
	padding: 10px 16px!important;
	width: 100%!important;
}

.web-form-portlet .field.lfr-textarea-container {
	height: 115px!important;
}

.web-form-portlet label.control-label {
  font-weight: bold;
  text-transform: uppercase;
}

/* Controls Liferay */
li.site-add-controls, 
li.page-preview-controls, 
li.page-edit-controls, 
li.toggle-controls {
	background: none !important;
}
li.site-add-controls>a, 
li.page-preview-controls>a, 
li.page-edit-controls>a, 
li.toggle-controls>a {
	background: #333 !important;

}

/* Invoices */
table.invoiceUpdate{
    margin-bottom: 3em;
}
table.invoiceUpdate td{
	padding: 0 1em;
	vertical-align: middle;
}
		
#invoiceContainer{
	margin: auto;
	width: 210mm;
	padding: 1em;
}
#invoice{
	color: #000;
	font-family: helvetica;
	font-size: 14px;
}
.editInvoice{
    padding: 2em !important;
	border: 1px solid #999 !important;
	background: url('/anyplast-theme/images/utils/borrador.png') no-repeat 50% 5%;
}

#invoice * table{
	width: 100%;
}
#invoice * table tr{
	vertical-align: top;
}
#invoice * table td.td-1{
	width: 25%;
}
#invoice * table td.td-2{
	width: 35%;
}
#invoice * table td.td-3{
	width: 20%;
	text-align: right;
	font-weight: bold;
}
#invoice * table td.td-4{
	width: 15%;
	text-align: right;
}
#invoice * .verd{
	color: #004621;
	font-style: italic;
}
#invoice input.form-control, #invoice select.form-control{
	height: 25px !important;
	border: none;
    border-bottom: 1px solid #ccc;
}

#invoice .row-header{
	margin-top: 20px;
	border-bottom: 10px solid #c2d69a;
	padding-bottom: 0.5em;
}
#invoice .row-header table td.logo{
	width: 75%;
}
#invoice .row-header table td p{
	line-height: 1em;
}

#invoice .row-1{
	padding-top: 1em;
}
#invoice .row-1 table td{
	width: 50%;
}
#invoice .row-1 h1{
	color: #999;
	text-align: right;
}
#invoice .row-1 .editInvoiceType{
	font-weight: bold;
    font-size: 26px;
    height: 40px !important;
    width: 10em !important;
}

#invoice .row-3{
	padding-top: 2em;
}
#invoice .row-3 table{
	width: 100%;
}
#invoice .row-3 table tr{
	vertical-align: middle;
}
#invoice .row-3 table th{
	border: 1px solid black;
	background-color: #c2d69a;
	padding: 0.3em;
	text-align: center;
}
#invoice .row-3 table td.td-b{
	border: 1px solid black;
	text-align: right;
}
#invoice .row-3 table td.td-c{
	border: 1px solid black;
	text-align: left;
	padding: 0.3em 0 0.3em 4em;
}
#invoice .row-3 table td{
	text-align: left;
	padding: 0.3em 1em;
}
#invoice .row-3 table td.td-desc{
	border: 1px solid black;
	text-align: left;
	width: 70%;
}
#invoice .row-3 table.editTable td{
	padding: 0 1em !important;
}
#invoice .row-3 table.editTable input{
    margin-bottom: 0px !important;
}
#invoice .row-3 table.editTable td.td-desc{
	width: 60% !important;
}
#invoice .row-3 table.editTable td.editTd-c{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#invoice .row-4{
	padding-top: 3em;
}

#invoice .row-footer{
	padding-top: 5em;
	font-style: italic;
	font-size: 12px;
}
#invoice .row-footer p.info{
	margin: 0 3em 2em 2em;
    background-color: #dff0d8;
    font-style: normal;
    padding: 1em;
}
#invoice .editRowFooter{
	padding-top: 1em !important;
	font-style: normal !important;
    font-size: 100% !important;
}
