
<nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
	<!-- <a href="javascript:void(0)" class="search_button"><i class="fa fa-search"></i></a>  -->
        <form action="search.html" method="get" role="search" class="h_search_form">
          <div class="container">
            <div class="h_search_form_wrapper">
              <div class="input-group"><span class="input-group-btn">
                  <button type="submit" class="btn btn-sm"><i class="fa fa-search fa-lg"></i></button></span>
                <input type="text" placeholder="Cerca al portal" class="form-control">
              </div>
              <div class="h_search_close"><a href="#"><i class="fa fa-times"></i></a></div>
            </div>
          </div>
        </form>
        #if ( $the_title == "Welcome" || $the_title == "Home" )
        <div class="container">
        #else
        <div class="container noSlider">
        #end
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button>
            <a href="/welcome" class="navbar-brand">
              <img src="$themeDisplay.getPathThemeRoot()/images/logo-anyplast-small.png" alt="" class="logo-white">
              <img src="$themeDisplay.getPathThemeRoot()/images/logo-anyplast-small.png" alt="" class="logo-dark">
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right service-nav">
              	#if ($is_signed_in)
					#if ($themeDisplay.getPermissionChecker().isOmniadmin())
						<li>
			        		<a id="dropdownMenuLogin" href="#" data-toggle="dropdown" class="upper dropdown-toggle">$themeDisplay.getUser().getFullName()</a>
			                <ul class="dropdown-menu">
								<li><a href="/administra-usuarios" title="Administrar usuarios" data-ref="about">Usuarios</a></li>
								<li><a href="/administra-facturacion" title="Administrar facturaci&oacute;n" data-ref="about">Facturaci&oacute;n</a></li>
								<li><a href="/administra-plataforma" title="Administrar plataforma" data-ref="about">Plataforma</a></li>
								<li><a href="/c/portal/logout" title="Salir" data-ref="about">Salir</a></li>
							</ul>
			            </li>
		            #else
		            	<li>
			        		<a id="dropdownMenuLogin" href="#" data-toggle="dropdown" class="upper dropdown-toggle">$themeDisplay.getUser().getFullName()</a>
			                <ul class="dropdown-menu">
								<li><a href="/mi-cuenta" title="Mi cuenta" data-ref="about">Mi cuenta</a></li>
								<li><a href="/c/portal/logout" title="Salir" data-ref="about">Salir</a></li>
							</ul>
			            </li>
		            #end
		        #else
					<li>
						<a id="dropdownMenuLogin" href="/login" class="upper">Login / Registro</a>
		            </li>
				#end
              
              
              
            </ul>
            <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
            <ul class="nav yamm navbar-nav navbar-left main-nav">
                    
                    #foreach ($nav_item in $nav_items)
							#set ($nav_item_attr_selected="")
							#set ($nav_item_attr_has_popup="")
							#set ($nav_item_caret="")
							#set ($nav_item_css_class="lfr-nav-item")
							#set ($nav_item_link_css_class="")
	
						#if ($nav_item.isSelected())
							#set ($nav_item_attr_selected="aria-selected='true'")
							#set ($nav_item_css_class="$nav_item_css_class selected active")
						#end
	
						#if ($nav_item.hasChildren())
							#set ($nav_item_attr_has_popup="aria-haspopup='true'")
							#set ($nav_item_caret='<b class="icon-caret-down"></b>')
							#set ($nav_item_css_class="$nav_item_css_class dropdown")
							#set ($nav_item_link_css_class="dropdown-toggle")
						#end
	
						<li class="dropdown" id="layout_$nav_item.getLayoutId()" >
						
							<a href="$nav_item.getURL()" title="" data-hover="dropdown" 
								id="menu_item_$nav_item.getLayoutId()" data-ref="#" >
								
								$nav_item.getName()
								
								#if ($nav_item.hasChildren())
									<span class="caret"></span>
								#end
							</a>
	
							#if ($nav_item.hasChildren())
								<ul aria-labelledby="menu_item_$nav_item.getLayoutId()" class="dropdown-menu">
									#foreach ($nav_child in $nav_item.getChildren())
										#set ($nav_child_attr_selected="")
										#set ($nav_child_css_class="lfr-nav-item")
	
										#if ($nav_child.isSelected())
											#set ($nav_child_attr_selected="aria-selected='true'")
											#set ($nav_child_css_class="selected")
										#end

										<li><a href="$nav_child.getURL()" title="$nav_child.getName()" data-ref="about">$nav_child.getName()</a></li>
									#end
								</ul>
							#end
						</li>
					#end
            </ul>
          </div>
        </div>
      </nav>
      
<script>
	Liferay.Data.NAV_LIST_SELECTOR = '.navbar-inner .nav-collapse > ul';
</script>