<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title </title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
	<script src="$themeDisplay.getPathThemeRoot()/js/jquery.min.js"></script>

	$theme.include($top_head_include)
		
	<link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/anyplast.css">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
    <link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/vendor.css">
    <link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/bootstrap.css">
    <link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/jquery.cookiebar.css">
    <link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/custom-main.css">
    <link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/select2.css">
    <link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/select2-bootstrap.css">
    <link id="primary_color_scheme" rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/theme_meadow.css">
    <link rel="icon" href="$themeDisplay.getPathThemeRoot()/images/favicon.ico" type="image/x-icon" />
    <noscript>
      <link rel="stylesheet" href="$themeDisplay.getPathThemeRoot()/css/styleNoJs.css">
    </noscript>
    
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    <script src="$themeDisplay.getPathThemeRoot()/js/vendor/modernizr.js"></script>
    <script src="$themeDisplay.getPathThemeRoot()/js/vendor/plugin.js"></script>
    <script src="$themeDisplay.getPathThemeRoot()/js/vendor/bootstrap.js"></script>
    <script src="$themeDisplay.getPathThemeRoot()/js/vendor/bootstrap-extend.js"></script>
    <script src="$themeDisplay.getPathThemeRoot()/js/vendor/select2.js"></script>
    <script src="$themeDisplay.getPathThemeRoot()/js/mask/jquery.mask.js"></script>
    <script src="$themeDisplay.getPathThemeRoot()/js/cookies/jquery.cookiebar.js"></script>
    <script src="$themeDisplay.getPathThemeRoot()/js/main.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> 
    <script src="$themeDisplay.getPathThemeRoot()/js/maps/gmaps.js"></script>
    
</head>

<body class="$css_class boxed-layout">

	#if ($is_signed_in && $themeDisplay.getPermissionChecker().isOmniadmin())
		#dockbar()
	#end

	<div class="page">
		
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
		
	<!-- Start header Section-->
      <section class="demo-2">
		
		#if ( $the_title == "Welcome" || $the_title == "Home" || $the_title == "Anyplast • The Recycled Plastic eMarketplace" )
        <!-- Start slider-wrapper-->
        <div id="slider" style="display:none;" class="sl-slider-wrapper">
          <div class="sl-slider">
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2" class="sl-slide">
              <div style="background-image: url($themeDisplay.getPathThemeRoot()/images/slider1.jpg);" class="sl-slide-inner">
                <div class="slide-container">
                  <div class="slide-content text-center">
                    <h2 class="main-title">ANYPLAST, EL MERCADO VIRTUAL DEL <span class="text-primary">PL&Aacute;STICO RECICLADO</span></h2>
                    <blockquote>
                      <a href="/login" class="btn btn-light btn-bordered btn-lg">Login</a>
					  <a href="/login" class="btn btn-primary btn-lg">Reg&iacute;strate</a>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5" class="sl-slide">
              <div style="background: url($themeDisplay.getPathThemeRoot()/images/slider2.jpg);" class="sl-slide-inner">
                <div class="slide-container">
                  <div class="slide-content text-center">
                    <h2 class="main-title">BUSCA, ENCUENTRA<span class="text-primary"></span></h2>
                    <blockquote>
                      <p>Operaciones a tiempo real</p>
                    </blockquote>
                    <blockquote>
                      <a href="/productos" class="btn btn-primary btn-lg">Anuncios de compra</a>
					  <a href="/productos?p_p_id=search_WAR_anyplastportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_search_WAR_anyplastportlet_entity=adBuy"
					  		class="btn btn-primary btn-lg">Anuncios de venta</a>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1" class="sl-slide">
              <div style="background: url($themeDisplay.getPathThemeRoot()/images/slider3.jpg);" class="sl-slide-inner">
                <div class="slide-container">
                  <div class="slide-content text-center">
                    <h2 class="main-title">OPERAR EN ANYPLAST ES <span class="text-primary">F&Aacute;CIL</span></h2>
                    <blockquote>
                      <a href="/welcome#column-16" class="btn btn-primary btn-lg">Sobre Anyplast</a>
					  <a href="/faq" class="btn btn-primary btn-lg">Preguntas frecuentes</a>
					  <a href="/welcome#column-7" class="btn btn-primary btn-lg">Video tutorial</a>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="1.5" data-slice2-scale="0.5" class="sl-slide">
              <div style="background: url($themeDisplay.getPathThemeRoot()/images/slider4.jpg);" class="sl-slide-inner">
                <div class="slide-container">
                  <div class="slide-content text-center">
                    <h2 class="main-title">M&Aacute;S QUE ANUNCIOS</h2>
                    <div style="padding: 0 15%;">
                    <blockquote class="bquote3cols">
                    	<p>Muestras</p>
                    	<p>Pruebas</p>
                    </blockquote>
                    <blockquote class="bquote3cols">
                      	<p>Compras</p>
                      	<p>Certificaciones</p>
                    </blockquote>
                    <blockquote class="bquote3cols">
                      	<p>Gesti&oacute;n</p>
                      	<p>Transporte</p>
                    </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
          </div>
          <!-- start slider navigation-->
          <nav id="nav-arrows" class="nav-arrows"><span class="nav-arrow-prev">Previous</span><span class="nav-arrow-next">Next</span></nav>
          <nav id="nav-dots" class="nav-dots"><span class="nav-dot-current"></span><span></span><span></span><span></span></nav>
          <!-- end slider navigation-->		
        </div>
        <!-- End slider-wrapper-->
		
		#else
		<div style="height: 70px; clear: both; overflow: hidden; position: relative;"></div>
		#end
		
      </section>
		
		$theme.include($body_top_include)
		
		<div class="container-fluid" id="wrapper">
			<div id="content">
				<nav id="breadcrumbs">#breadcrumbs()</nav>
		
				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()
		
					$portletDisplay.setTitle($the_title)
		
					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
			</div>
			
			<footer id="footer">
		        <div class="inner sep-bottom-xs">
		          <div class="container">
		            <div class="row">
		              <div class="col-md-7 col-sm-6">
		              	<div class="row">
						  <div class="widget sep-top-sm">
						    <img src="/anyplast-theme/images/logo-anyplast.png" alt="" class="logo">
						  </div>
						</div>
			            <div class="row">
			              <div class="col-md-4 col-sm-4">
			                <div class="widget sep-top-xs">
			                  <h6 class="upper widget-title"></h6>
			                  <ul class="widget-address sep-top-xs">
			                    <li><i class="fa fa-info-circle fa-lg"></i><small>Anyrecycled S.L.</small></li>
			                    <li><i class="fa fa-clock-o fa-lg"></i><small>Lunes / Viernes<br>08:00 - 19:00</small></li>
			                  </ul>
			                </div>
			              </div>
			              <div class="col-md-4 col-sm-4">
			                <div class="widget sep-top-xs">
			                  <h6 class="upper widget-title"></h6>
			                  <ul class="widget-address sep-top-xs">
			                    <li><i class="fa fa-phone fa-lg"></i><small>(+34) 93 299 86 42</small></li>
			                    <li><i class="fa fa-envelope fa-lg"></i><small><a href="mailto:info@anyplast.com">info@anyplast.com</a></small></li>
			                  </ul>
			                </div>
			              </div>
			              <div class="col-md-4 col-sm-4">
			                <div class="widget sep-top-xs">
			                  <h6 class="upper widget-title"></h6>
			                  <ul class="widget-address sep-top-xs">
			                    <li><i class="fa fa-map-marker fa-lg"></i><small>C/Sardenya, 229 Ático 2a<br/>08013 - Barcelona<br/>(Barcelona)</small></li>
			                  </ul>
			                </div>
			              </div>
			            </div>
		              </div>
		              <div class="col-md-5 col-sm-6">
		                <div class="widget sep-top-sm">
		                  <h6 class="upper widget-title">Google Maps</h6>
		                  <div id="map_canvas" style="width: 100%; height: 270px;"></div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		        
		        <div class="copyright sep-top-xs sep-bottom-xs">
		          <div class="container">
		            <div class="row">
		              <div class="col-md-4"><small>Copyright 2015 &copy; Anyrecycled S.L. B66424243</small></div>
		              <div class="col-md-3 text-center">
		              	<ul class="work-icon">
						  <li><a href="http://www.envialia.com" target="_blank"><img src="$themeDisplay.getPathThemeRoot()/images/icons/x.gif" class="minilogos workEnvialia" width="47" alt="Envialia" title="Env&iacute;os con Envialia"></a></li>
						  <li><a href="http://www.tdn.es" target="_blank"><img src="$themeDisplay.getPathThemeRoot()/images/icons/x.gif" class="minilogos workTDN" width="47" alt="TDN" title="Env&iacute;os con TDN"></a></li>
						  <li><a href="https://www.bancsabadell.com" target="_blank"><img src="$themeDisplay.getPathThemeRoot()/images/icons/x.gif" class="minilogos workBSabadell" width="47" alt="BancSabadell" title="Pago seguro mediante TPV BancSabadell"></a></li>
						</ul>
					  </div>
					  <div class="col-md-2 text-center">
						<ul class="social-icon">
						  <li><small style="display: inline; padding-right: 1em;">Más en: </small>
						  	<a href="https://www.linkedin.com/company/anyplast"
						  		class="fa fa-linkedin fa-lg" target="_blank"></a></li>
						  <!-- <li><a href="#" class="fa fa-twitter fa-lg"></a></li> -->
						  <!-- <li><a href="#" class="fa fa-facebook fa-lg"></a></li> -->
						  <li><a href="https://plus.google.com/+AnyplastES/posts"
						  		class="fa fa-google-plus fa-lg" target="_blank"></a></li>
						</ul>
					  </div>
		              <div class="col-md-3 text-right">
						<small>
						  <a href="/terminos-legales">Términos legales</a>
						</small>
					  </div>
		            </div>
		          </div>
		        </div>
		      </footer>
			
		</div>
		
		$theme.include($body_bottom_include)
		
		$theme.include($bottom_include)

	</div>

	<script type="text/javascript">
      initialize('C/Sardenya 229, Barcelona', 'Anyplast');
      
      cookieBar({
            message: "Este sitio web utiliza cookies propias para ofrecer un mejor servicio. Si continúa navegando consideramos que acepta su uso. Encontrará más información en nuestra Política de condiciones",
            acceptText: "Aceptar",
            policyButton: true,
            policyText: "Más información",
            policyURL: "/cookies"
        });
    </script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-69239996-1', 'anyplast.com');
	  ga('send', 'pageview');

	</script>

</body>

</html>